
body {
  width: 100%;
  height: 100%;
  /*移動しました*/
  font-family: 'Amatic SC', cursive;
}

.profile {
	padding-left: 30px;
	background : yellow;
  /*追加しました*/
  overflow:auto; 
}

.profile h1 {
	color: blue;
	background-color: red;
}

.profile h2 {
	line-height: 20%;
}

.profile-box1{
  float: left;
	padding-left: 30px;
	padding-right: 30px;
}

.profile-box2{
  float: left;
	padding-left: 30px;
	padding-left: 30px;
}
<<<<<<< HEAD
	








=======
>>>>>>> f59e99a492fec69106f233fecb66ea69c6d4f99a
