

}
.profile {
	padding-left: 30px;
	height: 100%;
	width:  100%;
	background : yellow !important;
	background-image: url("img-1.png");

	 

}

.profile h1 {
	color: blue;
	background-color: red;
}

.profile h2 {
	line-height: 20%;
}

.profile-box1{
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

.profile-box2{
	float: left;
	padding-left: 30px;
	padding-left: 30px;
}
	font-family: 'Amatic SC', cursive;
